@import "./Variables.scss";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;
  font-family: $primaryFontStack;
}

.app{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
}
