@import "./Variables.scss";

.inNumbers{
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;

    .heading{
        color: $darkBlue;
        margin: 2rem;
    }

    &__boxes{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 75%;
        padding-bottom: 3rem;
    }
}